body {
    margin: 0;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap');

.App {
    background-color: #FBFAF5;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
}


