@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.item-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.item-name {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    color: black;
}


.item-img {
    height: 500px;
    width: 500px;
}

.item-quantity {
    text-align: center;
}