.nav-links {
    display: flex;
    flex-flow: row;
    height: 10vh;
    font-size: 4rem;
    text-shadow: 1px 1px black;
    color: white;   
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3em auto 0 auto;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

.nav-links li {
    display: block;
    text-decoration: none;
    color: white;
}

.link-line {
    text-decoration: none;
}


.cart {
    position: absolute;
    right: 0;
    margin-right: 1em;
}
