.nav-bar {
    position: relative;
}


.nav-links {
    display: flex;
    flex-flow: row;
    height: 10vh;
    font-size: 4rem;
    text-shadow: 1px 1px black;
    color: white;   
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3em auto 0 auto;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

.nav-links li {
    display: block;
    text-decoration: none;
    color: white;
}

.link-line {
    text-decoration: none;
}

.cart-count-container {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    /* width: 100px;
    height: auto; */
    color: white;
    position: absolute;
    right: 0;
    margin-right: 1em;
}

.cart-count-wrapper {
    height: 60px;
    width: 60px;
    position: relative;
}


.cart {
    color: white;
    position: absolute;
}

.cart:hover {
    cursor: pointer;
}

.cart-count {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 1.2rem;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    border-bottom: none;
    text-shadow: none;
    color: #FFF;
    background-color: rgb(25, 176, 196);
    border-radius: 50%;
    pointer-events: none;
}
